---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-no-malloc,
  misc-redundant-expression,
  modernize-use-override,
  modernize-use-nullptr,
  modernize-use-auto,
  performance-*,
  readability-duplicate-include,
  readability-misleading-indentation

WarningsAsErrors: ''

HeaderFilterRegex: 'src/include/.*'

CheckOptions:
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'std::function'
